:root {
  --bg-color: gainsboro;
  --text-color: darkslategrey;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  color: var(--text-color);

}

.nav-link {
  border-radius: 5px;

}

.nav-link:hover{
  background-color: var(--text-color);
  color: var(--bg-color) !important;
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 75%;
}