{% extends 'components/base.html' %}
{% block content %}
  <div class="row mx-5 mt-2">
    <div class="h3 text-center">Education</div>
    <div class="col-sm">
      <div class="h4 text-center">Grand Valley State University</div>
      <ul>
        <li>2020-Present (expected graduation May 2023)</li>
        <li>Master of Science in Applied Computer Science</li>
        <li>Concentration in Cybersecurity</li>
        <li>Thesis: <i>Predicting New Course Success on a Massive Open Online Course Platform Using Machine Learning</i> (in progress)</li>
      </ul>
    </div>
      <div class="col-sm">
      <div class="h4 text-center">Calvin College (now Calvin University)</div>
        <ul>
          <li>2010-2015</li>
          <li>Bachelor of Arts in Economics</li>
          <li>Bachelor of Arts in International Relations</li>
          <li>Minor in Mathematics</li>
        </ul>
      </div>
  </div>

  <div class="row mx-5 mt-2">
    <div class="h3 text-center">Interests</div>
    <div class="col-sm">
      <div class="h4 text-center">Professional</div>
      <ul>
        <li>Machine Learning & Data Science</li>
        <li>Natural Language Processing</li>
        <li>Data Visualization</li>
        <li>General Problem-Solving & <em>Making Things Work</em></li>
      </ul>
    </div>
      <div class="col-sm">
      <div class="h4 text-center">Personal</div>
      <ul>
        <li>Acoustic & Electric Guitar</li>
        <li>Running (begrudgingly) & Lifting (never skip leg day)</li>
        <li>Yoga and Rock Climbing (though I haven't had the chance to do either of these lately...)</li>
      </ul>
      </div>
  </div>

  <div class="row mx-5 mt-2">
    <div class="h3 text-center">Background and Experience</div>
    <div class="col-sm-8 mx-auto">
      Currently, I work primarily in Python - mostly for data science-related/adjacent tasks. In the past, I also used R for a lot of these tasks (and I'll still use R if I have to, but I have no particular love for it other than being able to engage with the broader R community). I started out using primarily Java (as I suppose is common) and picked up a decent bit of C/C++ along the way (as I suppose is also common) - I still have a good deal of familiarity with them, but I haven't used them in a while (aka, it might take me a week or so to get back to the level of professional work). I've also messed around in a few other languages like JavaScript, Go, and C#, but I certainly wouldn't consider myself terribly competent in them (aka, more hobby/project skill level than professional skill level). At the end of the day, I'll mess around a bit with pretty much anything at least once, and I'll half-complete any new language tutorial...
    </div>
  </div>
{% endblock %}